.form{
    text-align: center;
    font: normal, 20px, Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    width: 60%;
    border-right: 20px gray solid;
    border-left: 20px gray solid;
    border-top: 20px gray solid; 
    border-bottom: 20px gray solid;
}