h1,h3, p {
    margin: 20px;
    color: rgb(26, 26, 26);
    line-height: 1.75em;
}
.nav-horizontal {
    text-align: center;
    background-color: gray;
    overflow: hidden;
    height: 3em;
    width: 100%;
}
.nav-horizontal .mask {
    background-color: rgb(255, 255, 255);
    height: 5em;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-bottom: 20px;
}
.nav-horizontal .list {
    display: inline-table;
    margin: 0 auto;
    max-width: 100%;
}
.nav-horizontal .list li {
    display: table-cell;
    margin: auto;
}
.nav-horizontal .list a {
    display: block;
    padding: 0 1em;
    text-decoration: none;
    background-color: gray;
    color: rgb(255, 255, 255);
    height: 3em;
    line-height: 3;
}
.nav-horizontal .list a:hover {
    border-bottom: 2px solid rgb(175, 175, 175);
    background-color: rgb(41, 41, 41);
}
* {
    box-sizing: border-box;
}
body{
    font: normal, 20px, Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    width: 60%;
    border-right: 20px gray solid;
    border-left: 20px gray solid;
    border-top: 20px gray solid; 
    border-bottom: 20px gray solid;
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}
.success{
    color: green;
}
.inv-cred{
    color: red;
}