.container {
    display: flex;
    flex-direction: column;
}
/* .container input{
    flex: 1;
} */
label{
    color: rgb(0, 0, 0);
    font-weight: 300;
}
.submit{
    background-color: rgb(75, 75, 75);
    color:rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    padding-right: 10px;
}

/* .container input{
    width: 100%;
} */