.up-1{
    font: normal, 20px, Verdana, Geneva, Tahoma, sans-serif;
    margin:auto;
    width: 60%;
    border:20px gray solid;
    font-weight: 400;
}
.date{
    margin-left: 20px;
    color: rgb(0, 149, 199);
    font-weight: 300;
}
