<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'about.css')}}">
</head>
<body>
    <h1>heading 1</h1>
    <h6><b>this is the smallest heading type of text</b></h6>
    <img src="bitcoin.png" alt="an image showing the price of bitcoin as 100k and soon written in small text">
    <ul>
        <li><a href="https://www.youtube.com/redeem">test1</a></li>
        <li><a href="https://www.youtube.com/redeem">test2</a></li>
        <li><a href="https://www.youtube.com/redeem">test3</a></li>
        <li><a href="https://www.youtube.com/redeem">test4</a></li>
        <li><a href="https://www.youtube.com/redeem">test5</a></li>
    </ul>
    <hr>
    <a href="http://localhost:5000/">this is the homepage</a> <br>
    <big>this text is big</big>
    <small>and this text is small.</small> <br>
    <h1>This is all our websites</h1>
    <ol>
        <li><a href="http://localhost:5000/home">this is the homepage</a></li>
        <li></li>
        <li>    </li>
    </ol>
</body>
</html>
