<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'about.css')}}">
</head>
<body>
    <center>
        <div>
        <header>
        <big>
            <h1>Welcome to my website</h1>
        </big>
        </header>
    </div>

    <h6></h6>
    <big>
        <h2>Navigation Links</h2>
        <a href="/home">this is the homepage</a></li>
        <br>
        <a href="/credits">this is who created me</a></li>
        <br>
        <a href="/form">this page has a registration form</a></li>
        <br>
        <a href="/updates">this page documents the updates of my github</a></li>
    </ul>
    <hr>
    <img src="images/bitcoin.png" alt="image failed to load :(">
    </center>
</body>
</html>
