<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits</title>
</head>
<body>

    <center>
    <header><big><h1>Credits for created this website</h1></big></header>
    <hr>
    <h3><a href="https://github.com/artyomkulimov/home-website">this is the github page of this code</a></h3> <br>
    <br>
    <big><a href="/home">back to main page</a></li></big>
    </center>
</body>
</html>
