<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'layout.css')}}">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Web Blog</title>
    {% endif %}
</head>
<body>
    {% if header %}
        <header>{{header}}</header>
    {% endif %}
    <nav class="nav-horizontal">
        <div class="mask">
          <ul class="list">
            <li><a href="/home">Home</a></li>
            <li><a href="/credits">Credits</a></li>
            <li><a href="/updates">Updates</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class = {{category}}>{{message}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
</html>