<link rel="stylesheet" href="{{url_for('static',filename = 'register.css')}}">
{% extends "layout.html" %}
{% block content %}

    <form method="POST" action="">
        {{ form.csrf_token }}
        <p>
            {{form.username.label(class = "label")}} <br>
            {{form.username(class="input")}}
        </p>
        <p>
            {{form.password.label(class = "label")}}<br>
            {{form.password(class="input")}}
        </p>
        <p>
            {{form.submit(class="submit")}}
        </p>
    </form>
{% endblock %}