<!-- <link rel="stylesheet" href="{{url_for('static',filename = 'register.css')}}"> -->

{% extends "layout.html" %}
{% block content %}
    <form class = "container" method="POST" action="">
        {{ form.csrf_token }}
        <p>
            {{ form.username.label(class = "label") }}
            {{ form.username(class="input") }}
            {% if form.username.errors %}
            <div>
                {% for error in form.username.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
            {% endif %}
        </p>
        <p>
            {{ form.email.label(class = "label") }}
            {{ form.email(class="input") }}
            {% if form.email.errors %}
            <div>
                {% for error in form.email.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
            {% endif %}
        </p>
        <p>
            {{ form.password.label(class = "label") }}
            {{ form.password(class="input") }}
        </p>
        <p>
            {{ form.confirm_password.label(class = "label") }}
            {{ form.confirm_password(class="input") }}
        </p>
        <p>
            {{ form.submit(class="submit") }}
        </p>
    </form>
{% endblock %}