<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updates</title>
</head>
<body>
    <center>
    <header>
    <hr>
    <big><h1>This is where I document updates to my github page.</h1></big> <br>
    <hr>
    </header>
    <div>
        <big><div><h3>August 9th 2021</h3></div></big>
        <h3>Created the Repository and added the main 
        python script and started working on it.</h3>
    </div>
    <hr>
    <div>
        <big><div><h3>August 10th, 2021, 1st update</h3></div></big>
        <h3>Added the /about page which soon will turn to the main page.</h3>
    </div>
    <hr>
    <div>
        <big><div><h3>August 10th, 2021, 2nd update</h3></div></big>
        <h3>changed the about page to be the homepage 
            and added navigation across all the routes 
            of the website, also added a form, and added this page which logs all updates i make to this website</h3>
    </div>
    <hr>
    <div>
        <big><div><h3>August 10th, 2021, 2.5nd update</h3></div></big>
        <h3>made all the routes prettier</h3>
    </div>
    <hr>

    <big><a href="/home">back to main page</a></li></big>
    </center>
</body>
</html>
