<header>
<h1>This is where I document updates to my github page.</h1><br>
</header>
<link rel="stylesheet" href="{{url_for('static',filename = 'updates.css')}}">
{% extends "layout.html" %}
{% block content %}
    <br>
    <div class="up-1">
        <div class="text"><h3>August 9th 2021</h3></div>
        <h3>Created the Repository and added the main 
        python script and started working on it.</h3>
        <hr>
        <div><h3>August 10th, 2021, 1st update</h3></div>
        <h3>Added the /about page which soon will turn to the main page.</h3>
        <hr>
        <div><h3>August 10th, 2021, 2nd update</h3></div>
        <h3>changed the about page to be the homepage 
            and added navigation across all the routes 
            of the website, also added a form, and added this page which logs all updates i make to this website</h3>
        <hr>
        <div><h3>August 10th, 2021, 2.5th update</h3></div>
        <h3>made all the pages prettier</h3>
        <hr>
        <div><h3>August 10th, 2021, 3rd update</h3></div>
        <h3>made all the pages prettier, again</h3>
        <hr>
        <div><h3>August 10th, 2021, 4th update</h3></div>
        <h3>Added a universal Layout and started introducing CSS to the website.</h3>   
{% endblock %}