<header>
<center><h1>This is where I document updates to my github page.</h1></center><br>
</header>
<link rel="stylesheet" href="{{url_for('static',filename = 'updates.css')}}">
{% extends "layout.html" %}
{% block content %}
    <div class="up-1">
        <div><h3 class="date">August 9th 2021</h3></div>
        <h3>Created the Repository and added the main python script and started working on it.</h3>
        <hr>
        <div><h3 class="date">August 10th, 2021, 1st Update</h3></div>
        <h3>Added the /about page which soon will turn to the main page.</h3>
        <hr>
        <div><h3 class="date">August 10th, 2021, 2nd Update</h3></div>
        <h3>changed the about page to be the homepage and added navigation across all the routes of the website, also added a form, and added this page which logs all updates i make to this website</h3>
        <hr>
        <div><h3 class="date">August 10th, 2021, 3rd Update</h3></div>
        <h3>Made all the pages prettier</h3>
        <hr>
        <div><h3 class="date">August 10th, 2021, 4rd Update</h3></div>
        <h3>Made all the pages prettier, again</h3>
        <hr>
        <div><h3 class="date">August 10th, 2021, 5th Update</h3></div>
        <h3>Added a universal Layout, added basics for a form and started introducing CSS to the website.</h3>
        <hr>
        <div><h3 class="date">August 10th, 2021, 6th Update</h3></div>
        <h3>Gave the Universal CSS some tweaks and added more CSS to the <a href="/updates">updates</a> page.</h3>
        <hr>
        <div><h3 class="date">August 10th, 2021, 7th Update</h3></div>
        <h3>Even More tweaks to the Universal CSS and added a custom CSS style to all of the pages on my website.</h3>
{% endblock %}