<link rel="stylesheet" href="{{url_for('static',filename = 'account.css')}}">
{% extends "layout.html" %}
{% block content %} 
<section class="info">
    <div class = "container">
        <h1>Current Info:</h1>
        <p>Profile Picture: <img src="{{image_file}}"></p>
        <p>Email: {{current_user.email}}</p> 
        <p>Username: {{current_user.username}}</p>
    </div>
    <form class = "container" method="POST" action="" enctype="multipart/form-data">
        <h1>Change Info:</h1>
        <h6>PS; if you dont want to change username/email, input the same value as you have currently.</h6>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label(class = "label") }}
            {{ form.username(class="input") }}
            {% if form.email.errors %}
            <div>
                {% for error in form.username.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
            {% endif %}
        </p>
        <p>
            {{ form.email.label(class = "label") }}
            {{ form.email(class="input") }}
            {% if form.email.errors %}
            <div>
                {% for error in form.email.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
            {% endif %}
        </p>
        <p>
            {{ form.pfp.label(class = "label") }}
            {{ form.pfp(class="input") }}
        </p>
        <p class="btn">
            {{ form.submit(class="submit") }}
        </p>
    </form>
    <br>
</section>
{% endblock %}