<link rel="stylesheet" href="{{url_for('static',filename = 'home.css')}}">
{% extends "layout.html" %}
{% block content %}
<main class="main">
    <div class="grid">
        <section class = "blog">
            {% for post in posts %}
                <p>
                    <a href="{{url_for('view_post',post_id = post.id)}}"><img src="{{url_for('static', filename = 'pictures/' + post.author.pfp)}}" alt=""></a>
                    <h2>{{post.title}}</h2>
                    <h3>{{post.date_posted.strftime("%Y-%m-%d")}}</h3>
                    <p>{{post.content}}</p>
                    <a href="{{url_for('users',username = post.author.username)}}">{{post.author.username}}</a>
                    <h6>{{post.id}}</h6>
                </p>
            <hr>
            {% endfor %}
        </section>
    </div>
</main>
{% endblock %}