<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'layout.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'js/header.js')}}">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Web Blog</title>
    {% endif %}
</head>
<body>
    <header class="header sticky sticky--top js-header">
        <div class="grid">
          <nav class="navigation">
            <ul class="navigation__list navigation__list--inline">
              <li class="navigation__item"><a href="{{url_for('home')}}" class="navigation__link navigation__link--is-active">Home</a></li>
              {% if current_user.is_authenticated %}
              <li class="navigation__item"><a href="{{url_for('new_post')}}" class="navigation__link">New Post</a></li>
              <li class="navigation__item"><a href="{{url_for('account')}}" class="navigation__link">Account</a></li>
              <li class="navigation__item"><a href="{{url_for('logout')}}" class="navigation__link">Logout</a></li>
              {% else %}
              <li class="navigation__item"><a href="{{url_for('register')}}" class="navigation__link">Register</a></li>
              <li class="navigation__item"><a href="{{url_for('login')}}" class="navigation__link">Login</a></li>
              {% endif %}
              <li class="navigation__item"><a href="{{url_for('credits')}}" class="navigation__link">Credits</a></li>
            </ul>
          </nav>
        </div>
      </header>
    
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class = {{category}}>{{message}}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
        </body>
</html>

