<link rel="stylesheet" href="{{url_for('static',filename = 'login.css')}}">
{% extends "layout.html" %}
{% block content %}
<section class = "login">
    <form class = "container" method="POST" action="">
        {{ form.csrf_token }}
        <p>
            {{form.username.label(class = "label")}} <br>
            {{form.username(class="input")}}
            {% if form.username.errors %}
            <div>
                {% for error in form.username.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
            {% endif %}
        </p>
        <p>
            {{form.password.label(class = "label")}}<br>
            {{form.password(class="input")}}
        </p>
        <p>
            {{form.submit(class="submit")}}
        </p>
    </form>
    <br>
</section>
{% endblock %}