<link rel="stylesheet" href="{{url_for('static',filename = 'account.css')}}">
{% extends "layout.html" %}
{% block content %}
<section class = "form-form">
    <form class = "container" method="POST" action="">
        {{ form.csrf_token }}
        <p>
            {{ form.password.label(class = "label") }}<br>
            {{ form.password(class="input") }}
        </p>
        <p>
            {{ form.confirm_password.label(class = "label") }}<br>
            {{ form.confirm_password(class="input") }}
        </p>
        <p>
            {{ form.submit(class="submit") }}
        </p>
    </form>
    <br>
</section>
{% endblock %}