h3{
    font-size: 30px;
    margin-top: 0;
    font-weight: 400;
}
p{
    line-height: 1.75;
}
.container{
    width: 75%;
    margin:0 auto;
    
}
/* .info{
    background-color:rgb(106, 204, 196);
} */
.submit{
    /* background: #55d6aa; */
    padding: 1em 4em;
    text-decoration: none;
    outline: none;
}
.submit:hover{
    background: #4db18f;
}
    